

html
{
	font-family: Helvetica;
}

/* this styles the list at the top of the web page*/
ul.head-list{
	background-color: #42B3F4;
	list-style-type: none;
	margin: 0;
	padding: 0;
}

li.head-list-item{
	display: inline;
}